<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Interface port plaisance Russell</title>
</head>
<body>
    <div class="card">
        <h1>Bienvenue sur notre interface</h1>
        <p>Notre API est désormais opérationnel !</p> <hr>
        <h2>Gestion des Catways</h2>
        <div class="form">
            <h3>Ajouter un nouveau Catway</h3>

            <form action="/api/catways" method="post">
                <input type="number" name="catwayNumber" placeholder="N° Catway" min="0" required>
                <select name="catwayType">
                <option value="long">Long</option>
                <option value="short">Short</option>
                </select>

                <input type="text" name="catwayState" placeholder="Etat" required>
                <button type="submit" class="btn-add">Enregistrer</button>
            </form>
        </div>

        <h3>Liste des Catways</h3>
        <table border="1" style="width:100%; border-collapse: collapse; margin-top: 20px;">
            <thead>
                <tr>
                    <th>Numéro</th>
                    <th>Type</th>
                    <th>État</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <% catways.forEach(catway => { %>
                    <tr>
                        <td><%= catway.catwayNumber %></td>
                        <td><%= catway.catwayType %></td>
                        <td><%= catway.catwayState %></td>
                        <td><a href="/api/catways/<%= catway._id %>" class="btn-details">Détails</a></td>
                    </tr>
                <% }); %>
            </tbody>
        </table>
    </div>
</body>
</html>