<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Connexion</title>
</head>
<body>
    <body>
    <div class="container">
        <header>
            <h1>Connexion</h1>
        </header>

        <main>
            <section class="form-container">
                <form action="/login" method="POST" class="form">
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input type="email" name="email" id="email" placeholder="email" required>
                    </div>

                    <div class="form-group">
                        <label for="password">Mot de passe</label>
                        <input type="password" name="password" id="password" placeholder="Votre mot de passe" required>
                    </div>

                    <button type="submit" class="btn-back">Se connecter</button>
                </form>
            </section>
        </main>
    </div>
</body>
</html>